.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height:80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.eot?lalj5x');
  src: url('./fonts/icomoon.eot?lalj5x#iefix') format('embedded-opentype'), url('./fonts/icomoon.ttf?lalj5x') format('truetype'), url('./fonts/icomoon.woff?lalj5x') format('woff'), url('./fonts/icomoon.svg?lalj5x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e947";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}

html {
  height: 100%;
}
body {
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 0;
  position: relative;
  background-image: url(./img/wood.png);
}
body::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(bottom, rgba(51, 8, 104, 0.27) 0%, rgba(101, 200, 233, 0.27) 100%);
  background: -webkit-linear-gradient(bottom, rgba(51, 8, 104, 0.27) 0%, rgba(101, 200, 233, 0.27) 100%);
  background: linear-gradient(to top, rgba(51, 8, 104, 0.27) 0%, rgba(101, 200, 233, 0.27) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45330868', endColorstr='#4565c8e9', GradientType=0);
  z-index: 1;
}
main {
  padding-top: 150px;
}
p {
  margin: 0;
}
h1 {
  margin: 10px 0;
  color: #fff;
  font-size: 36px;
}
h1 span {
  font-size: 28px;
  margin-left: 5px;
}
.content {
  position: relative;
  z-index: 10;
  width: 420px;
  margin: 0 auto;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #fff;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #fff;
}
.add-task {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.add-task::before {
  content: '+';
  position: absolute;
  left: 5px;
  top: 56px;
  color: #fff;
  font-size: 27px;
}
.add-task input {
  position: relative;
  border-radius: 3px;
  width: calc(100% - 50px);
  height: 40px;
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 22px;
  padding: 0 30px;
  box-sizing: border-box;
}
.add-task input:focus {
  outline: none;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.add-task input:focus::-webkit-input-placeholder {
  color: transparent;
}
.add-task input:focus:-moz-placeholder {
  color: transparent;
}
.add-task input:focus::-moz-placeholder {
  color: transparent;
}
.add-task input:focus:-ms-input-placeholder {
  color: transparent;
}
.add-task span {
  font-size: 22px;
  color: #fff;
  background-color: rgba(100, 88, 115, 0.9);
  border-radius: 5px;
  padding: 8px 9px 9px;
  cursor: pointer;
}
.add-task span:hover {
  background-color: #645873;
}
.task-item {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}
.task-item .task-item__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  height: 45px;
  border-radius: 5px;
  padding: 0 9px 0 15px;
  margin-left: 10px;
  width: 100%;
  color: #fff;
  font-size: 18px;
}
.task-item .task-item__text span {
  font-size: 22px;
  color: #f5e4aa;
  cursor: pointer;
}
.task-item.done p {
  text-decoration: line-through;
}
.task-item.done span {
  cursor: default;
}
.controls {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
}
.controls span {
  border-radius: 5px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}
.controls span:nth-child(1) {
  padding: 0 15px;
  width: 157px;
  margin-left: 28px;
  font-size: 14px;
  background-color: rgba(88, 106, 115, 0.9);
}
.controls span:nth-child(1):hover {
  background-color: #586a73;
}
.controls span:nth-child(2) {
  width: 40px;
  font-size: 20px;
  background-color: rgba(100, 88, 115, 0.9);
}
.controls span:nth-child(2):hover {
  background-color: #645873;
}
.hidden {
  display: none;
}
